# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Data (optional)
data/raw/
data/processed/

# Models
models/*.pkl

# Reports
reports/

# MLflow
mlruns/

# OS
.DS_Store
Thumbs.db